@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Follows the "Get started with ASP.NET Core MVC and Visual Studio" tutorial from Microsoft, which can be found 
<a target="_blank" href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?tabs=aspnetcore2x&view=aspnetcore-2.1">here</a>.</p>
