@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<ul>
    <li><a target="_blank" href="https://github.com/paulritzman">GitHub</a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/paulritzman/">LinkedIn</a></li>
</ul>
